<form>
    <p class="mb-3">Click submit to test the client-side validation of email and url input.</p>

    <TextInput Class="mb-2" Type="TextInputType.Email" Label="An email address" Placeholder="user@example.com" />
    <TextInput Class="mb-2" Type="TextInputType.Password" Label="An password" Placeholder="SuperSecret123" />
    <TextInput Class="mb-2" Type="TextInputType.Url" Label="An URL" Placeholder="example.com" />

    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Submit</Button>
</form>