<div>
    <TextInput Class="mb-2" Size="InputSize.Sm" Placeholder="Small" />
    <TextInput Class="mb-2" Size="InputSize.Default" Placeholder="Default" />
    <TextInput Class="mb-2" Size="InputSize.Lg" Placeholder="Large" />
</div>