@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
@typeparam TValue

@if (!EditContext.GetValidationMessages(_fieldIdentifier).Any())
{
    <div id="@Id" class="@ClassNames" style="@StyleNames">@Message</div>
}